<a href="https://colab.research.google.com/github/RajendharAre/Innomatics_Research_Labs_GenAI_FEB/blob/main/Task2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1. Unique Words in a Sentence

In [31]:
sentence = input("Enter a sentence: ")
words = sentence.split()
unique_words = []
for word in words:
    if word not in unique_words:
        unique_words.append(word)

print("Unique words in the sentence: ", unique_words)

Enter a sentence: python is easy and python is powerful
Unique words in the sentence:  ['python', 'is', 'easy', 'and', 'powerful']

## 2. Highest Salary from Employee Data

In [5]:
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}
highest_salary = 0
highest_salary_employee = ""
for employee, salary in employees.items():
    if salary > highest_salary:
      highest_salary = salary
      highest_salary_employee = employee
print("Highest Salary:", highest_salary_employee, "-", highest_salary)

Highest Salary: Ravi - 75000

## 3. Find Maximum and Minimum Values

In [9]:
list = [45, 22, 89, 10, 66]
print("Max: ", max(list))
print("Min: ", min(list))

Max:  89
Min:  10

## 4. Count Products Above a Price Threshold

In [13]:
prices = [450, 1200, 899, 1500, 300]
count = 0
for price in prices:
    if price > 1000:
        count += 1

print("Products above 1000: ", count)

Products above 1000:  2

## 5. Calculate Attendance Percentage

In [15]:
attendance = ["P", "P", "A", "P", "P"]
present_count = attendance.count("P")
total_days = len(attendance)

percentage = (present_count / total_days) * 100
print(f"Attendance Percentage: {percentage:.1f}")

Attendance Percentage: 80.0

## 6. Remove Duplicate Phone Numbers

In [16]:
phone_numbers = [9876543210, 9123456789, 9876543210]
unique_phone_numbers = set(phone_numbers)
print("Unique phone numbers:", unique_phone_numbers)

Unique phone numbers: {9876543210, 9123456789}

## 7. Count Character Frequency

In [19]:
input_string = input("Enter a word: ")
char_freq = {}
for char in input_string:
    char_freq[char] = char_freq.get(char, 0) + 1
print(char_freq)

Enter a word: Hello Programming in Python
{'H': 1, 'e': 1, 'l': 2, 'o': 3, ' ': 3, 'P': 2, 'r': 2, 'g': 2, 'a': 1, 'm': 2, 'i': 2, 'n': 3, 'y': 1, 't': 1, 'h': 1}

## 8. Convert List to Tuple

In [22]:
my_list = [10, -89, 20, 30, 345]
my_tuple = tuple(my_list)
print("Tuple:", my_tuple)

Tuple: (10, -89, 20, 30, 345)

## 9. Check if a Key Exists in a Dictionary

In [24]:
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}
search_key = "Anita"
if search_key in employees:
    print(f"{search_key} exists")
else:
    print(f"{search_key} does not exist")

Anita exists

## 10. Calculate Average Marks

In [29]:
marks = [80, 65, 75, 70, 45, 34.5]
total_marks = sum(marks)
no_of_subjects = len(marks)
if no_of_subjects > 0:
    average_marks = total_marks / no_of_subjects
    print(f"Average Marks: {average_marks:.1f}")
else:
    print("No marks to calculate average.")

Average Marks: 61.6